$paper: #577EF2;
$scissors: #F2AB27;
$rock: #D94169;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: linear-gradient(8deg, rgba(13,19,38,1) 0%, rgba(22,31,64,1) 24%, rgba(30,51,82,1) 100%);
  color: white;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

@mixin img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@mixin tablet-mode {
  @media (min-width: 600px) { @content; }
}


 